* {
    margin: auto;
    background-color: #f4f4f4;
    font-size: 18px;
    /* font-family: 'Roboto', sans-serif; */
  }
  
  .a-right {
    text-decoration: none;
    color: black;
    width: 100%;
    border: black solid 2px;
  }
  
  svg {
      /* background-color: rgba(177, 21, 21, 0.205); */
      background-color: #f4f4f4;
      border-right: solid black 1px;
      width:100%
    }
    
  button:hover {
    color: #E50914;
  }
  
  
    
  #info {
    width: 33%;
    padding: 5px;
    text-align: center;
    margin-top: 0;
  }
  
  #main-container {
    display: flex;
  }
  
  #canvas {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  
  #canvas:hover {
    cursor: move;
  }
  
  #atoms {
    width: 80%;
    text-align: left;
    margin-top: 5px;
  }
  
  
  .s-margin {
    border-left: solid 3px black;
    margin-left: 10px;
    padding-left: 5px;
    width: 85%;
  }
    
  h3 {
    margin: 0px;
    margin-left: 5px;
    width: 25%;
    cursor:pointer;
  }
  
  .information {
    width: 100%;
  }
  
  .atom-div  {
    border: 2px solid black;
    display: flex;
    margin-top: 5px;
  }
    
  .atom-information {
    color: red;
    margin-left: 0px;
    text-align: left;
    padding-left: 15px;
    border-left: solid 2px black;
    width: 80%
  }
    
  
  #currentComponent {
    position: absolute;
    left: 58%;
  }
  
  #total-recoil {
    position: absolute;
    left: 1%;
    font-size: 28px;
  }
  
  /* navbar */ 
  .navbar {
    margin: 0;
    width: 50%;
  }
    
  .navbaritem {
    width: 100%;
    font-size: 26px;
    background-color: lightblue;
  }
  
  .navbaritem:hover {
    color: #f4f4f4;
  }
  
  .navbaritem:active {
    color: black;
  }
  
  #history-tab {
    height: 100%;
  }
  
  #history-info {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 80%;
  }
  
  
  
  #link-container {
    display: flex;
    width: 100%;
    border-bottom: 1px black solid;
    text-align: center;
    font-size: 20px;
  }
  
  .left-side-tree {
    margin: 0;
    width: 50%;
    border-right: solid black 1px;
  }
  
  /* GRAPH BUTTONS */
  
  .graph-button-1 {
    position: absolute;
    top: 3%;
    left: 1%;
    padding: 5px;
    background: none;
    font-family: inherit;
    font-size: 14px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    margin: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
  
  
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  
  }
  
  .graph-button-2 {
    position: absolute;
    top: 15%;
    left: 1%;
    padding: 5px;
  
    
    background: none;
    font-family: inherit;
    font-size: 14px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 500;
  
    display: inline-block;
    margin: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }