svg {
    background-color: rgba(0, 0, 0, 0.205);
  }
  
  #main-container {
    display: flex;
  }
  
  button {
    background: none;
    font-family: inherit;
    font-size: inherit;
      border: 3px solid rgb(236, 217, 217);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 25px 40px;
    display: inline-block;
    margin: 15px ;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  button:hover {
    color: #E50914;
  }
  
  #info {
    width: 33%;
    padding: 5px;
    text-align: center;
  }
  
  .atom-div  {
    border: 2px solid black;
    display: flex;
    align-items: center;
  }
  
  .atom-information {
    color: red;
    margin-left: 30px;
    text-align: left;
  }
  
  .s-margin {
    margin-left: 10px;
  }
  
  #currentComponent {
    position: absolute;
    left: 60%;
  }