/* #2f3337 background color BLACK */
/* White for text */
/* gold for tabs */


* {
  margin: 0px;
  padding: 0px;
  background-color: rgb(53, 59, 70);
  font-size: 18px;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: #f4f4f4;
}

.a-right {
  text-decoration: none;
  color: black;
  width: 100%;
  border: black solid 2px;
}

svg {
  /* background-color: rgba(177, 21, 21, 0.205); */
  background-color: rgb(53, 59, 70);
  border-right: solid black 1px;
  width:100%;
  height:600px;
  margin-top: 5%;
}

@media  (max-height: 800px){
  svg {
    height: 45%;
    font-size: 100px;
    margin-top: 2%;
  }

  .component-svg {
    height: 100%;
  }
 
}

@media (max-width: 1300px){
  .atoms {
    width: 98% !important;
  }
}
  
.component-svg {
  background-color: rgb(53, 59, 70);
  border-right: solid black 1px;
  width:100%;
  height:100%;
  margin: 0;
}

circle {
  fill: #fff;
  /* fill: none; */
  stroke: steelblue;
  stroke-width: 3px;
  pointer-events: all;
}



/* inside main container: canvas and navbar*
    *now its graphDisplays and navbar
   basically, the navbar is the info display panel
*/

/* CONTAINER.JS  */
#main-container {
  display: flex;
}

/* CANVAS */

#canvas {
  margin: 0;
  width: 100%;
  height: 100%;
  border: dotted white;
}

#canvas:hover {
  cursor: move;
}

/* LEFT VIEW GRAPHPANEL */

.graph-button-1 {
  position: absolute;
  top: 1%;
  right: 50%;
  padding: 2px;
  background: none;
  font-family: inherit;
  font-size: 14px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  color: #f4f4f4;
  cursor: pointer;
  display: inline-block;
  margin: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  width: 15%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: dotted white;
}

button:hover {
  color: #F0DB4F;
 }
   


.graph-container {
  width: 50%;
  margin: 0;
}


.h1-absolute {
  position: absolute;
  left: 1%;
  top: 1.5%;
  border: dotted white;
}

/* RIGHT VIEW NAVBAR */

.a-right {
  text-decoration: none;
  color: black;
  width: 100%;
  border:black solid 2px;
  border-radius: 10px 0px 0px 10px;
}

.no-border-left {
  border-left: 0;
  border-radius: 0px 10px 10px 0px;
}

.navbar {
  margin: 0;
  width: 50%;
}
  
.navbaritem {
  width: 100%;
  font-size: 26px;
  background-color: rgb(53, 59, 70);
}

.navbaritem:hover {
  color: #f4f4f4;
}

.navbaritem:active {
  color: black;
}


#link-container {
  display: flex;
  width: 100%;
  border-bottom: 1px black solid;
  text-align: center;
  font-size: 20px;
}


/* RIGHT VIEW ATOM.JS */
.atom-values-tab {
  height: 105vh;
}

.atom-container {
  border: 2px black solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.atom-div  {
  max-height: 50vh;
  padding: 8px;
  display: flex;
}

.atoms {
  width: 80%;
  text-align: left;
  margin-top: 5px;

}

#atom-hover {
  position: absolute;
  left: 1%;
  top: 8%;
}

.h3-display-inline{
  display: inline-block;
}

.h3-display-inline:hover {
  cursor: pointer;
  color: #F0DB4F;
  transition: all .3s;
}

.s-margin {
  /* border-left: solid 3px black;
  margin-left: 10px;
  padding-left: 5px; */
  width: 100%;
  overflow-y: scroll;
}


/* RIGHT VIEW HISTORY.JS*/

#history-info {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 80%;
}

#history-tab {
  height: 105vh;
}

.__json-pretty__ {
  font-size: 12px;
}

.__json-key__ {
  font-size: 12px;
}

.__json-string__ {
  font-size: 12px;
}

.__json-value__ {
  font-size: 12px;
}
.__json-boolean__ {
  font-size: 12px;
}
.__json-error__ {
  font-size: 12px;
}
.__json-main__ {
  font-size: 12px;
}

.__json-pretty-error__ {
  font-size: 12px;
}

/* SCROLL BAR STYLING */
::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}


summary {
  list-style-image: url(right-arrow.svg);
}

/* summary::-webkit-details-marker {
  background: url(right-arrow.svg);
  color: transparent;
} */


/* selector tree css vvv */

.patharc {
  fill: #333;
  opacity: 0.3;
  stroke: yellow;
}

.arclabels {
  fill: white;
}

.selectorTreeHomeBtn {
  fill: none;
  stroke: gold;
}

/* font-size does not work in arclabels */
tspan {
  font-size: 2em;
}


/* selector tree css ^^^ */